:root{
  --main-dark: #222;
  --main-100: #333;
  --main-200: #666;
  --main-300: #999;
  --main-400: #ccc;
  --main-bright: #fff;
}

body {
  margin: 0;
}

#root {
  width: 100%;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
